@font-face {
  font-family: 'Open Sauce One';
  src: url('assets/fonts/OpenSauceOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* { box-sizing: border-box; }

html, body {
  overflow-x: hidden;
  font-family: 'Open Sauce One', sans-serif;
}


body {
    margin: 0px;
    padding: 0px;
    background-color: #091627;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-view-container {
  width: 100%;
  max-width: 450px;     /* ← fixed visual width */
  background: #fff;
  margin: 0 auto;       /* ← center horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0B1F3B;
}

.header img {
    width: 238px;
    height: 109px;
}

h1 {
    margin-top: 1.65rem;
    font-weight: 400;
    font-size: 24px;
    color: #0B1F3B;
    letter-spacing: 0%;
    line-height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

hr {
  border: none;
  border-top: 1px solid #0B1F3B;
  width: 85%;
}

.description {
    text-align: center;
    padding: 0 40px 0 40px;
    font-size: 9px;
    color: #0B1F3B;
}

.pill {
    margin-top: 1rem;
    background-color: #0B1F3B;
    padding: 5px 15px 5px 15px;
    border-radius: 58px;
    width: 201px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pill a {
    color: #fff;
    font-size: 8px;
    text-decoration: none;
}

.pill p {
    color: #fff;
    font-size: 8px;
}

.list-options {
    margin-top: 1rem;
    text-align: center;
    font-size: 8px;
    margin-bottom: 0.5rem;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group img {
    width: 49px;
}

.group p {
    font-size: 8px;
}

.h-stack {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.h-stack .pill {
    width: 150px;
}

.address {
    color: #0B1F3B;
    text-decoration: none;
    font-size: 8px;
    margin-bottom: 3rem;
}

.footer {
    height: 116px;
    width: 100%;
    background-color: #0B1F3B;
}